.wrapper{
    margin-top:50px;
}

.remove-btn{
    margin-right:5px;
}

.fade-enter{
    opacity: 0.01;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  fade-exit{
      opacity: 1;
  }

  fade-exit-active{
      opacity: 0.01;
      transition: opacity 1000ms ease-in;
  }

  .add-button{
     margin-left:200px;
  }